<div class="row">
  <div class="col-md-7">
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <input class="wide" type="text" [(ngModel)]="childSelectedKeg.name" title="Name">
    </div>

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Brand</span>
      </div>
      <input class="wide" type="text" [(ngModel)]="childSelectedKeg.brand" title="Brand">
    </div>

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Type</span>
      </div>
      <input class="wide" type="text" [(ngModel)]="childSelectedKeg.type" title="Type">
    </div>
  </div>

  <div class="col-md-5">

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Price</span>
      </div>
      <input class="narrow" type="number" [(ngModel)]="childSelectedKeg.price" title="Price">
    </div>

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">ABV</span>
      </div>
      <input class="narrow" type="text" [(ngModel)]="childSelectedKeg.abv" title="ABV">
    </div>

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">IBU</span>
      </div>
      <input class="narrow" type="text" [(ngModel)]="childSelectedKeg.ibu" title="IBU">
    </div>
  </div>
</div>
