<div class="card card-body" *ngFor="let keg of childKegList">
  <div class="row">
    <div class="col-md-3 text-center">
      <img class="logo" src={{keg.logo}} alt={{keg.name}}>
      <p>Brand: {{keg.brand}}</p>
    </div>
    <hr>
    <div class="col-md-7">
      <p>Price/Pint: <span [class]="colorCodePrice(keg)">${{keg.price}}</span></p>
      <p>ABV: {{keg.abv}}, IBU: {{keg.ibu}}</p>
      <p>Type: {{keg.type}}</p>
      <p>Pints In Keg: {{keg.pints}}/124</p>
    </div>
    <div class="col-md-2">
      <div *ngIf="employeeView">
        <button >Sell</button>
        <button (click)="clickEditKeg(keg)" data-toggle="modal" data-target="#exampleModalLong">Edit</button>
        <button >Remove</button>
      </div>
    </div>
  </div>
</div>
