<button *ngIf="employeeView" (click)="passNewKeg()" type="button" class="btn btn-secondary new-button">Add a new keg</button><br>
<app-new-keg (newKegEmitter)="populateNewKegInfo($event)" *ngIf="newKegToPopulate"></app-new-keg>
<div class="card card-body" *ngFor="let keg of childKegList; let i = index">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img class="logo" src={{keg.logo}} alt={{keg.name}}>
      <p>Brand: {{keg.brand}}</p>
    </div>
    <hr>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-7">
          <p>Price/Pint: <span [class]="colorCodePrice(keg)">${{keg.price}}</span></p>
          <p>ABV: {{keg.abv}}, IBU: {{keg.ibu}}</p>
          <p>Type: {{keg.type}}</p>
          <p>Pints In Keg: {{keg.pints}}/124</p>
        </div>
        <div class="col-sm-1">
          <div class="progress progress-bar-vertical">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div *ngIf="edit === keg">
        <app-edit-keg [childSelectedKeg]="edit"></app-edit-keg>
      </div>
      <div *ngIf="edit !== keg && sell !== keg">
        <p><i>{{keg.blurb}}</i></p>
      </div>
      <div *ngIf="sell === keg">
        <app-sell-keg (sendSale)="makeSale($event)"></app-sell-keg>
      </div>
  </div>
    <div class="col-sm-2">
      <div *ngIf="employeeView">
        <button class="btn btn-outline-secondary" (click)="clickSell(keg)">Sell</button>
        <button class="btn btn-outline-secondary" (click)="clickEditKeg(keg)">Edit</button>
        <button class="btn btn-outline-secondary remove" (click)="clickRemove(keg)">Remove</button>
      </div>
    </div>
  </div>
</div>
